@use "all" as *;

::selection {
    background-color: $CorGeral;
    color: white;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: white;

    &-thumb {
        background-color: $CorGeral;
        border-radius: 10px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: $CorGeral;
    color: white;
    padding: 20px;
    text-align: center;

    nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;
                margin: 0 15px;

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}

.sobre,
.menu,
.local {
    padding: 50px;
    text-align: center;
}

.local {
    padding: 70px;
    
    a{
        color: $CorTexto;
        text-decoration: none;
    }
}

#sobre {
    margin-top: -160px;

    hr {
        border: 1px solid transparent;
        animation: bar 3s both;
        margin-top: -24px;
        margin-bottom: -11px;
        animation-delay: 2.1s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
}

@keyframes bar {
    from {
        width: 0px;
    }

    to {
        width: 150px;
        border: 1px solid $CorGeral;
        border-radius: 10px;
    }
}

.Hamburguer {
    margin-top: 100px;
    position: relative;
    height: 200px;
    width: 100px;
    margin: 0 auto;
}

.camadas {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.estrela {
    position: absolute;
    z-index: 1;
    right: 0px;
    display: inline-block;
    color: gold;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 9px solid gold;
    border-left: 15px solid transparent;
    transform: rotate(35deg);
}

.estrela:before {
    border-bottom: 12px solid gold;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -8px;
    left: -10px;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.estrela:after {
    position: absolute;
    display: inline-block;
    color: gold;
    top: 1px;
    left: -16px;
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-bottom: 9px solid gold;
    border-left: 15px solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.pao-1 {
    height: 40px;
    background-color: $cor-pao;
    border-radius: 50px 50px 10px 10px;
    top: 0;
}

.alface {
    height: 8px;
    background-color: $cor-alface;
    border-radius: 20px;
    top: 40px;
}

.tomate {
    height: 7px;
    background-color: $cor-tomate;
    border-radius: 10px;
    top: 47px;
}

.queijo {
    height: 5px;
    background-color: $cor-queijo;
    border-radius: 5px;
    top: 54px;
}

.carne {
    height: 25px;
    background-color: $cor-carne;
    border-radius: 10px;
    top: 59px;
}

.pao-2 {
    height: 20px;
    background-color: $cor-pao;
    border-radius: 10px 10px 50px 50px;
    top: 84px;
}

.burguer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .burguer-item {
        margin: 15px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        img {
            max-width: 270px;
            border-radius: 100%;
            border: 0.1px solid $CorGeral;
        }

        &:hover {
            transition: all 1.5s ease-in-out;
            -webkit-transition: all 2s ease-in-out;
            animation: destaque 1.5s infinite ease-in-out;

            .btn {
                transition: all 1.6s;
                -webkit-transition: all 1.6s;
                opacity: 1;
            }
        }
        .btn {
            opacity: 0;
            background-color: $CorGeral;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 25px;
            color: white;
            font-size: 16px;
            margin: 0 auto;
            transition: all .5s ease-in;
            -webkit-transition: all .5s ease-in;


            &:hover {
                border-radius: 35px;
                padding: 11px 50px;
            }
        }
        .preco {
            color: green;
            font-size: 20px;
            font-weight: 555;
        }
    }
    h5{
        color: #999;
    }
}

.informations {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 10px;
}

footer {
    background-color: $CorGeral;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 9px;
    padding: 2px;
}

@keyframes destaque {
    0%,
    100% {
        box-shadow: 0 0 0 0.5px $CorGeral;
        scale: 1;
    }

    50% {
        box-shadow: 0 0 0 1px $CorGeral;
        scale: 1.016;
    }
}
