::selection {
  background-color: #ff4500;
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #ff4500;
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #333;
  display: grid;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #ff4500;
  color: white;
  padding: 20px;
  text-align: center;
}
header nav ul {
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline;
  margin: 0 15px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sobre,
.menu,
.local {
  padding: 50px;
  text-align: center;
}

.local {
  padding: 70px;
}
.local a {
  color: #333;
  text-decoration: none;
}

#sobre {
  margin-top: -160px;
}
#sobre hr {
  border: 1px solid transparent;
  animation: bar 3s both;
  margin-top: -24px;
  margin-bottom: -11px;
  animation-delay: 2.1s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@keyframes bar {
  from {
    width: 0px;
  }
  to {
    width: 150px;
    border: 1px solid #ff4500;
    border-radius: 10px;
  }
}
.Hamburguer {
  margin-top: 100px;
  position: relative;
  height: 200px;
  width: 100px;
  margin: 0 auto;
}

.camadas {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.estrela {
  position: absolute;
  z-index: 1;
  right: 0px;
  display: inline-block;
  color: gold;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 9px solid gold;
  border-left: 15px solid transparent;
  transform: rotate(35deg);
}

.estrela:before {
  border-bottom: 12px solid gold;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -8px;
  left: -10px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.estrela:after {
  position: absolute;
  display: inline-block;
  color: gold;
  top: 1px;
  left: -16px;
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-bottom: 9px solid gold;
  border-left: 15px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.pao-1 {
  height: 40px;
  background-color: #ffb356;
  border-radius: 50px 50px 10px 10px;
  top: 0;
}

.alface {
  height: 8px;
  background-color: #4caf50;
  border-radius: 20px;
  top: 40px;
}

.tomate {
  height: 7px;
  background-color: #e53935;
  border-radius: 10px;
  top: 47px;
}

.queijo {
  height: 5px;
  background-color: #ffeb3b;
  border-radius: 5px;
  top: 54px;
}

.carne {
  height: 25px;
  background-color: #795548;
  border-radius: 10px;
  top: 59px;
}

.pao-2 {
  height: 20px;
  background-color: #ffb356;
  border-radius: 10px 10px 50px 50px;
  top: 84px;
}

.burguer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.burguer-flex .burguer-item {
  margin: 15px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.burguer-flex .burguer-item img {
  max-width: 270px;
  border-radius: 100%;
  border: 0.1px solid #ff4500;
}
.burguer-flex .burguer-item:hover {
  transition: all 1.5s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  animation: destaque 1.5s infinite ease-in-out;
}
.burguer-flex .burguer-item:hover .btn {
  transition: all 1.6s;
  -webkit-transition: all 1.6s;
  opacity: 1;
}
.burguer-flex .burguer-item .btn {
  opacity: 0;
  background-color: #ff4500;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  font-size: 16px;
  margin: 20px auto;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .burguer-flex .burguer-item .btn {
    opacity: 1;
  }
}
.burguer-flex .burguer-item .btn:hover {
  border-radius: 35px;
  padding: 11px 50px;
}
.burguer-flex .burguer-item .preco {
  color: green;
  font-size: 20px;
  font-weight: 555;
}
.burguer-flex h5 {
  color: #999;
}

.carrinho {
  padding: 15px 15px;
  background-color: #ff4500;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 999px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: pointer;
  z-index: 55;
}
.carrinho i {
  color: white;
  font-size: 20px;
}
.carrinho #itens__carrinho {
  position: absolute;
  top: -8px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 999px;
  padding: 5px 9px;
  font-size: 10px;
}

#comprar__carrinho {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 111;
  background-color: #f9f9f9;
}
#comprar__carrinho form {
  width: 45%;
  margin: 10vh auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  #comprar__carrinho form {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}
#comprar__carrinho form label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}
#comprar__carrinho form label input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 100%;
}
#comprar__carrinho form label select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 100%;
}
#comprar__carrinho form h1 {
  color: #ff4500;
}
#comprar__carrinho form #close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
}
#comprar__carrinho form #close:hover {
  background-color: red;
  color: #f9f9f9;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#comprar__carrinho form #total {
  color: green;
  font-size: 20px;
  margin: 25px 0 10px 0;
  font-weight: 555;
}
#comprar__carrinho form .btn {
  background-color: #ff4500;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  font-size: 16px;
  margin: 20px auto;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  cursor: pointer;
}
#comprar__carrinho form .btn:hover {
  border-radius: 35px;
  padding: 11px 50px;
}

.informations {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 10px;
}

footer {
  background-color: #ff4500;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 9px;
  padding: 2px;
  z-index: 999;
}

@keyframes destaque {
  0%, 100% {
    box-shadow: 0 0 0 0.5px #ff4500;
    scale: 1;
  }
  50% {
    box-shadow: 0 0 0 1px #ff4500;
    scale: 1.016;
  }
}

/*# sourceMappingURL=styles.css.map */
